
#very-Small-Depth {
	width: 20px;
	height: auto;
}

#Small-Depth {
	width: 40px;
	height: auto;
}

#Medium-Depth {
	width: 80px;
	height: auto;
	
}

#Large-Depth {
	width: 160px;
	height: auto;
}

body{
	background-color:white;
}


.info-window-severity-one {
	background-color: green;
}
.info-window-severity-two {
	background-color: yellow;
}
.info-window-severity-three {
	background-color: red;
}

