
#very-Small-Depth img {
	width: 20px;
	height: auto;
}

#Small-Depth img {
	width: 40px;
	height: auto;
}

#Medium-Depth img {
	width: 80px;
	height: auto;
	
}

#Large-Depth img {
	width: 160px;
	height: auto;
}
