

body{
	background-color:white;
}



								<!--Pothole Info Window -->

.info-window-address-severity-one {
	border-bottom: 5px solid green;
}
.info-window-address-severity-two {
	border-bottom: 5px solid yellow;
}
.info-window-address-severity-three {
	border-bottom: 5px solid red;
}
						
								<!--Report a Pothole Form -->
#report-a-pothole-form {
	width: 100%;
}
.col-sm-4 {
	width: 100%;
}

#very-Small-Depth {
	width: 20px;
	height: auto;
}

#Small-Depth {
	width: 40px;
	height: auto;
}

#Medium-Depth {
	width: 80px;
	height: auto;
	
}

#Large-Depth {
	width: 160px;
	height: auto;
}
							<!-- Report a Pothole Grid -->
							/*    Ineffective							
#form-address-user-input{
	grid-area: address;
}							
#size {
	grid-area: size;
}							
#very-shallow {
	grid-area:vs-button;
}						
#very-Small-Depth {
	grid-area: vs-img;
}	
#shallow {
	grid-area: s-button;
}
#Small-Depth {
	grid-area: s-img;
}
#medium-deep {
	grid-area: m-button;
}
#Medium-Depth {
	grid-area: m-img;
}
#very-deep {
	grid-area: lg-button;
}
#Large-Depth {
	grid-area: lg-img;
}
#depth-radios button {
	grid-area: submit;
}
							
							
#report-a-pothole-form{
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 1fr;
	grid-template-areas:
		". address	 	address 	."
		". size 		size		."
		". vs-button	vs-img		."
		". s-button		s-img		."
		". m-button		m-img		."
		". lg-button	lg-img		."
		". submit		submit		."
}						
*/

								<!-- pothole table style -->

.userPotholeList {
  border-collapse: collapse;
  border: 1px solid black;

}

.userPotHoleList, th {
	padding: 2em;
	border: 1px solid black;
	
}

.userPotholeList, td, th {
	text-align: center;
	table-layout: fixed ;
	width: 100% ;
}

.userPotHoleList, tr:nth-child(even){
  background-color: #96a3a5;
  color: #fff;
}


.userPotholeList, td, tr {
  padding: 15px;
  border: 1px solid black;
}






						
